//-our-platform
section.our-platform
  .wrapper
    .our-platform-inner 
      .page__title-h1 Умеем работать с инструментами
      .our-platform__icons
        .our-platform__icon
          img(src=`assets/images/svg/icon-platform-1.svg`, alt='')
          .our-platform__icon-text Firebase
        .our-platform__icon
          img(src=`assets/images/svg/icon-platform-2.svg`, alt='')
          .our-platform__icon-text Mixpanel
        .our-platform__icon
          img(src=`assets/images/svg/icon-platform-3.svg`, alt='')
          .our-platform__icon-text Python
        .our-platform__icon
          img(src=`assets/images/svg/icon-platform-4.svg`, alt='')
          .our-platform__icon-text Django
        .our-platform__icon
          img(src=`assets/images/svg/icon-platform-5.svg`, alt='')
          .our-platform__icon-text Swift
        .our-platform__icon
          img(src=`assets/images/svg/icon-platform-6.svg`, alt='')
          .our-platform__icon-text Kotlin
        .our-platform__icon
          img(src=`assets/images/svg/icon-platform-7.svg`, alt='')
          .our-platform__icon-text Flutter
        .our-platform__icon
          img(src=`assets/images/svg/icon-platform-8.svg`, alt='')
          .our-platform__icon-text Datadog