extends ../../pug/templates/template
block base
	base(href="../")
block title
	title Tachos | About
block append style
block content
	//- banner
	include ../../components/banner-about/banner-about.component.pug
	include ../../components/section-partners/section-partners.component.pug
	include ../../components/our-platform/our-platform.component.pug
	include ../../components/our-team/our-team.component.pug
	include ../../components/footer/footer.component.pug
	
block append style


block append script