/*section-maginary-video*/
.section-maginary-video
  background: $color_black
  display: flex
  &-inner
    +row-flex
  &__left
    +size(12)
    +size-md(6)
    display: none
    align-items: center
    justify-content: center
    padding: 80px 0
    +md-block
      display: inline-flex
  &__right
    +size(12)
    +size-md(6)
    background: #252729
    display: inline-flex
    align-items: center
    justify-content: center