//-section-maginary-video
section.section-maginary-video
  .section-maginary-video__left
    img(src="assets/images/png/section-maginary-video-poster-1.png", alt="")
  .section-maginary-video__right
    img(src="assets/images/png/section-maginary-video-poster-2.png", alt="")
