//-banner-maginary
section.page-section.case-maginary.banner-maginary
  .wrapper
    header.page-section__header
      .page-section__header-title
        .title Maginary
        .text Magic game app. 200 hours
      .page-section__header-nav 
        a(href="") IOS
        a(href="") Android
    .page-section__content 
      img(src="assets/images/png/img-maginary.png", alt="")