+reset()
/* __reset__ */
/* __base__ */
.wrapper
  +wrapper()

+scrollbar($color_scrollbar-track, $color_scrollbar-thumb)

@font-face 
  +font($font, $fontBold)

@font-face 
  +font($font, $fontRegular)
  
@font-face 
  +font(SFMono, SFMono-Regular)

@font-face 
  +font(Caveat, Caveat-Regular)

@font-face 
  +font(SuisseIntl, SuisseIntl-Regular)


body 
  font-family: SFMono-Regular
  color: $color_black
  background: $color_white
  // margin: 0
.font-cursive
  font-family: cursive

a, button
  font-family: SFMono-Regular
  cursor: pointer
  color: inherit
  text-decoration: none
 
  &:focus
      outline: none
  
button
  border: none
  background-color: transparent
  letter-spacing: -0.02em

input
  cursor: text
  &:focus
      outline: none

/* __base__ */