//-section-monte-imgs
section.section.section-monte-imgs
  .wrapper
    .page-section-main__content 
      .page-section-main__content__img
        img(src="assets/images/png/img-poster-video-3.png", alt="")
      .page-section-main__content-text «В апреле 2017 Семен показал мне презентацию, имитирующую продукт, который он хотел сделать. Это была магическая книга, похожая на дневник Тома Риддла из Гарри Поттера. Мне очень понравилась идея, но я поделился опасениями, что это будет сложный проект.»
      .page-section-main__content-text «В апреле 2017 Семен показал мне презентацию, имитирующую продукт, который он хотел сделать. Это была магическая книга, похожая на дневник Тома Риддла из Гарри Поттера. Мне очень понравилась идея, но я поделился опасениями, что это будет сложный проект.»