//-section-maginary-about
section.section.section-maginary-about
  .wrapper
    .section-maginary-about-inner 
      .section-maginary-about__images
        .swiper.sectionMaginaryAbout 
          .swiper-wrapper
            .swiper-slide.section-maginary-about__item 
              img(src="assets/images/png/section-maginary-about-img-1.png", alt="")
            .swiper-slide.section-maginary-imgs__item 
              img(src="assets/images/png/section-maginary-about-img-2.png", alt="")
            .swiper-slide.section-maginary-imgs__item 
              img(src="assets/images/png/section-maginary-about-img-3.png", alt="")
      .section-maginary-about__content 
        .section-maginary-about__content-left
          .section-maginary-about__content-title Semyon Polyakovskiy
          .section-maginary-about__content-desc Prodact owner
        .section-maginary-about__content-text «В апреле 2017 Семен показал мне презентацию, имитирующую продукт, который он хотел сделать. Это была магическая книга, похожая на дневник Тома Риддла из Гарри Поттера. Мне очень понравилась идея, но я поделился опасениями, что это будет сложный проект.»
  script(src="js/section-maginary-about/section-maginary-about.component.js")