doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author" content="tg@gromov_ilia")
        link(rel="icon", type="image/x-icon",  href="assets/img/favicon.ico")
        block base
        block title
        block style
            link(rel="stylesheet", href="css/base-styles.css", type="text/css")
        block socialMetaTags

            meta(property="fb:app_id" content="")
            meta(property="og:locale", content="ru_Ru")
            meta(property="og:type", content="website")
            meta(property="og:site_name", content="tachos.ru")

            meta(property="og:title", content="tachos.ru")
            meta(property="og:description", content="Мы, молодая и гиперактивная команда разработчиков из Волгограда.")
            meta(property="og:url", content="http://tachos.ru")
           
            meta(property="og:image", content="http://tachos.ru/img/img-logo.png")
            meta(property="vk:image", content="http://tachos.ru/img/img-logo.png")
            meta(property="fb:image", content="http://tachos.ru/img/img-logo.png")
            meta(property="twitter:image", content="http://tachos.ru/img/img-logo.png")
            
            meta(property="og:image:secure_url", content="http://tachos.ru/img/img-logo.png")
            meta(property="og:image:type", content="image/png")
            //- meta(property="og:image:width", content="500")
            //- meta(property="og:image:height", content="300")

            meta(property="twitter:card", content="summary")
            meta(property="twitter:site", content="http://tachos.ru/")
            meta(property="twitter:description", content="Мы, молодая и гиперактивная команда разработчиков из Волгограда.")
            meta(property="twitter:creator", content="tachos")
    body
        //- include ../variables/useVariables
        //- include ../data/useDataJSON
        
        block content
        block style
            //- link(rel="stylesheet", href="css/viewport/mobileFirst-"+viewportWidth+"px.css", type="text/css")
            link(rel="stylesheet", href="css/styles-calc.css", type="text/css")
            link(rel="stylesheet", href="css/styles-sprites.css", type="text/css")
            //- each breakPoint in breakPoints
            //-     link(rel="stylesheet", type="text/css" , media="screen and (min-width:"+breakPoint.width+"px)",  href="css/viewport/media/"+breakPoint.width+"/"+breakPoint.width+"px.css")
        
        block script
            
            script(src="js/main.js")
            script(src="js/debuggrid/debuggrid.component.js")
            