/*page-section-main*/

.page-section-main
  scroll-snap-align: start
  // scroll-snap-stop: normal
  // overflow: hidden
  min-height: 100vh
  color: $color_white
  background: $color_black-2
  position: relative

    
  &_white
    color: $color_black
    background: $color_white
    .page-section-main__header-nav
      a
        &::after
          filter: invert(100%)
          background-image: url('../assets/images/svg/icon-arrow.svg')

  &.banner
    color: $color_black
    background: $color_white
  
  &.case-maginary
    color: $color_black
    background: $color_white

  &__header
    position: relative
    z-index: 1
    padding: 18px 0 120px
    display: flex
    flex-direction: column
    justify-content: space-between
    +md-block
      padding: 70px 0 120px
      flex-direction: row
      align-items: flex-end

 
    
    &-title
      +size(12)
      +size-md(6)

      .title
        text-transform: uppercase
        font-family:  SKConcretica-Regular
        font-size: 32px
        line-height: 40px
        margin-bottom: 15px

        +md-block
          margin-bottom: 0
          font-size: 72px
          line-height: 79px
      .text
        font-family: AvantGardeGothicCTT
        font-size: 24px
        line-height: 29px
        margin-bottom: 15px
        +md-block
          margin-bottom: 0
          font-size: 24px
          line-height: 28px
    &-nav
      display: flex
      +size(12)
      +size-md(3)
      // width: 100%
      justify-content: space-between
      a
        font-family: AvantGardeGothicCTT
        
        display: flex
        align-items: center
        font-size: 24px
        line-height: 29px
        transition: all .5s ease
        &::after
          content: ''
          background-image: url('../assets/images/svg/icon-arrow.svg')
          background-repeat: no-repeat
          width: 32px
          height: 18px
          margin-left: 6px
          transition: all .5s ease
        &:hover
          &::after
            transform: translateX(12px)
          
  &__content
    display: flex 
    flex-wrap: wrap
    justify-content: center

    +md-block
    &__img
      width: 100%
      text-align: center
    img
      margin-bottom: 90px
    .lottie-player
      
      +to($break_sm)
        position: absolute
        top: 100px
        margin-left: -5px

    &-text
      +col()
      +size(12)
      +size-sm(6)
      font-size: 24px
      line-height: 32px
      color: #ffffff