//-page-section-main
mixin sectionMain(props)
  section.page-section(class="page-section_white")
    .wrapper
      header.page-section__header
        .page-section__header-title
          .title Monte Tunning
          .text Web and app for IOS and Android. 200 hours
        .page-section__header-nav 
          a(href="") Site
          a(href="") Get app
      .page-section__content 
        img(src="assets/images/png/img-case-monte-desktop.png", alt="")