//-section-monte-imgs
section.section-monte-imgs
  .wrapper 
    .section-monte-imgs-inner 
      .section-monte-imgs__item 
        img(src="assets/images/png/section-monte-img-1.png", alt="")
      .section-monte-imgs__item 
        img(src="assets/images/png/section-monte-img-2.png", alt="")
      .section-monte-imgs__item 
        img(src="assets/images/png/section-monte-img-3.png", alt="")