//-section-monte-imgs
section.section.section-monte-imgs
  .wrapper 
    .section-monte-imgs-inner 
      .swiper.sectionMonteImgs
        .swiper-wrapper
          .swiper-slide.section-monte-imgs__item 
            img(src="assets/images/png/section-monte-img-1.png", alt="")
          .swiper-slide.section-monte-imgs__item 
            img(src="assets/images/png/section-monte-img-2.png", alt="")
          .swiper-slide.section-monte-imgs__item 
            img(src="assets/images/png/section-monte-img-3.png", alt="")
  script(src="js/section-monte-imgs/section-monte-imgs.component.js")