//-our-team
section.our-team
    .wrapper
        .our-team-inner
            .our-team-inner_bg-bottom
            .page-title.page-title-h1 Здесь работают <br> лучшие специалисты
            .our-team__info 
                .our-team__img
                    picture.page-picture
                        img(src="../../assets/images/png/image-team.png", alt="")
                .our-team__some-text
                    .page-title-caption.page-title-caption-2 Frontend Developer
                    .page-title-caption.page-title-caption-2 iOS Developer
                    .page-title-caption.page-title-caption-2 Project Manager
                    .page-title-caption.page-title-caption-2 QA
                    .page-title-caption.page-title-caption-2 Android Developer
                    .page-title-caption.page-title-caption-2 QA Engineer
                    .page-title-caption.page-title-caption-2 Backend Developer
                    .page-title-caption.page-title-caption-2 Analitics
                    .page-title-caption.page-title-caption-2 Mobole Developer
                    .page-title-caption.page-title-caption-2 DevOps