//-our-team
section.our-team
  .wrapper 
    .page__title-h1 Наша команда
    .our-team__items 
      .our-team__item
        .our-team-img
          img(src=src=`assets/images/png/img-our-team-1.png`,, alt="")
          .our-team-img__title Vasily K
          .our-team-img__description Manager
      .our-team__item
        .our-team-img
          img(src=src=`assets/images/png/img-our-team-2.png`,, alt="")
          .our-team-img__title Vasily K
          .our-team-img__description Manager
      .our-team__item
        .our-team-img
          img(src=src=`assets/images/png/img-our-team-3.png`,, alt="")
          .our-team-img__title Vasily K
          .our-team-img__description Manager

        
