/*our-team*/
.our-team
  &__items 
    +row-flex
    padding-top: 50px
    
  &__item
    +col()
    +size(4)
  &-img
    &__title
      margin-top: 32px
      font-size: 40px
      line-height: 44px
      text-transform: uppercase
      color: #262829
    &__description
      margin-top: 5px
      font-size: 20px
      line-height: 24px
      color: #262829