extends ../../pug/templates/template
block base
	base(href="../")
block title
	title Maginary
block append style
block content
	include ../../components/banner-maginary/banner-maginary.component.pug
	include ../../components/section-maginary-imgs/section-maginary-imgs.component.pug
	include ../../components/section-maginary-video/section-maginary-video.component.pug
	include ../../components/section-maginary-video-2/section-maginary-video-2.component.pug
	include ../../components/section-maginary-about/section-maginary-about.component.pug
	include ../../components/section-maginary-video-2/section-maginary-video-2.component.pug
	include ../../components/section-maginary-footer/section-maginary-footer.component.pug

block append style


block append script