.page
    &-link
        font-size: 18px
        line-height: 21px
        position: relative
        &_counter
            position: absolute
            top: -11px
            right: -7px
            font-size: 14px
    &-btn
        font-family: SFMono-Regular
        color: $color_white
        background: $color_black
        font-size: 18px
        line-height: 21px
        padding: 16px 26px
        border-radius: 40px
        
        &:hover
        &:active
