//-banner-main
section.section.banner-main
  .wrapper
    .banner-main-inner
      .banner-main__title Команда разработчиков по IOS и Adroid
      .banner-main-advantages
        .banner-main-advantages__item 2000+ клиентов
        .banner-main-advantages__item 400+ проектов