@import '../../../styles/_imports'

.testimonialSwiper
    position: relative
    width: 80%
    overflow: unset
    left: -32px
    +md-block
        width: 50%
    &-wrapper
        align-items: center
    .swiper-button
        &-next,
        &-prev
            position: absolute
            top: 0
            display: flex
        &-next
            right: 0
        &-prev
            right: 10px