//-banner-about
section.banner-about
  .banner-about__img 
    img(src="assets/images/png/img-about.png", alt="")
  .wrapper
    .page__title-h1 Мы, молодая и гиперактивная команда разработчиков из Волгограда.
