header.header
    .wrapper
        .header-inner
             .header__logo tachos
             .header__nav
                nav 
                    a(href="") О нас 
                    a(href="") Telegram