header.header
    .wrapper
        .header-inner
            .header__logo
                a.page-link(href="/")
                  include ../../assets/images/svg/logo-header.svg
                    
            .header__nav
                nav.nav 
                    a.page-link(href="javascript:void(0)") Проекты 
                        span.page-link_counter 10
                    a.page-link(href="javascript:void(0)") Команда 
                    a.page-link(href="javascript:void(0)") Услуги 
                    a.page-link(href="javascript:void(0)") Отзывы 
            .header__action
                button.page-btn Обсудить проект
            
                    