
.header
    position: sticky
    top: 0
    z-index: 1
    padding: 23px 0
    &-inner
        +row-flex()
        align-items: center
        justify-content: space-between
        position: relative
    &__logo 
        +col
        .page-link
            display: flex
            svg
                path
                    +transitionBase(all, 0.5)
            &:hover
                svg
                    path
                        &:nth-child(5)
                            fill: $color_orange
                        
        z-index: 20
    &__nav
        position: absolute
        top: 16px
        width: 100%
        text-align: center
        z-index: 10

    &__action
        z-index: 20

       
.nav
    .page-link
        margin: 0 16px