header.header
    .wrapper
        .header-inner
             a.header__logo(href="/") tachos
             .header__nav
                nav 
                    a(href="/about/about.html") About
                    a(href="") Telegram