//-section-maginary-imgs
section.section-maginary-imgs
  .wrapper
    .section-maginary-imgs-inner 
      .section-maginary-imgs__item 
        img(src="assets/images/png/section-maginary-img-3.png", alt="")
      .section-maginary-imgs__item 
        img(src="assets/images/png/section-maginary-img-2.png", alt="")
      .section-maginary-imgs__item 
        img(src="assets/images/png/section-maginary-img-1.png", alt="")