//-section-maginary-imgs
section.section.section-maginary-imgs
  .wrapper
    .section-maginary-imgs-inner
      .swiper.sectionMaginarImgs 
        .swiper-wrapper
          .swiper-slide.section-maginary-imgs__item 
            img(src="assets/images/png/section-maginary-img-3.png", alt="")
          .swiper-slide.section-maginary-imgs__item 
            img(src="assets/images/png/section-maginary-img-2.png", alt="")
          .swiper-slide.section-maginary-imgs__item 
            img(src="assets/images/png/section-maginary-img-1.png", alt="")
  script(src="js/section-maginary-imgs/section-maginary-imgs.component.js")
