extends ../../pug/templates/template
block base
	base(href="../")
block title
	title Tachos | Monte
block append style
block content
	//- banner
	include ../../components/banner-monte/banner-monte.component.pug
block append style


block append script