extends ../../pug/templates/template
block base
	base(href="../")
block title
	title Tachos | Monte
block append style
block content
	//- banner
	include ../../components/banner-monte/banner-monte.component.pug
	include ../../components/section-monte-video/section-monte-video.component.pug
	include ../../components/section-monte-imgs/section-monte-imgs.component.pug
	include ../../components/section-monte-video-2/section-monte-video-2.component.pug
	include ../../components/section-monte-imgs-2/section-monte-imgs-2.component.pug
block append style


block append script