extends ../../pug/templates/template
block base
	base(href="../")
block title
	title Tachos | Monte
block append style
block content
	//- banner
	include ../../components/page-section-main/page-section-main.mixin.pug
	main.page#fullpage
		+sectionMain({
			bgWhite: false,
			headerTitle: 'Monte Tunning',
			headerText: 'Web and app for IOS and Android. 200 hours',
			headerNav: [
				{
					href: '',
					title: 'Site'
				},
				{
					href: '',
					title: 'Get app'
				}
			],
			projectHref: 'javascript:void(0)',
			pageContentImg: 'assets/images/png/img-case-monte-desktop.png',
			pageAlt: 'img-case-monte-desktop',
			contentText: [
				'«В апреле 2017 Семен показал мне презентацию, имитирующую продукт, который он хотел сделать. Это была магическая книга, похожая на дневник Тома Риддла из Гарри Поттера. Мне очень понравилась идея, но я поделился опасениями, что это будет сложный проект.»',
				'«В апреле 2017 Семен показал мне презентацию, имитирующую продукт, который он хотел сделать. Это была магическая книга, похожая на дневник Тома Риддла из Гарри Поттера. Мне очень понравилась идея, но я поделился опасениями, что это будет сложный проект.»'
			]
		})

		include ../../components/section-monte-video/section-monte-video.component.pug
		include ../../components/section-monte-imgs/section-monte-imgs.component.pug
		include ../../components/section-monte-video-2/section-monte-video-2.component.pug
		include ../../components/section-monte-imgs-2/section-monte-imgs-2.component.pug
block append style


block append script