//-footer
footer.footer
  .wrapper
    .footer-inner 
      .footer__item
        div Нужно обсудить проект, пишите сразу в telegram +7 988 002 35 45
      .footer__item 
        div Вопросы и предложения присылайте на почту vadim@tachos.ru
      .footer__item 
        div Подписывайтесь на наш telegram канал @tachosapp
      .footer_copy 
        div © 2011–2021 Tachos developers