//-footer
footer.footer
  .wrapper
    .footer-inner 
      .footer__slogan
        .page-svg
          include ../../assets/images/svg/img-footer.svg
      .footer__row
        .footer__city 
          .page-text Moscow, 2022
        .footer__nav
          nav.nav
            a(href="") Главная 
            a(href="") Кейсы 
            a(href="") Команда 
            a(href="") Карьера
        .footer__author 
          .page-text Design – MAX
      .footer__feedback
        a(href="/") 
          .page-svg
            include ../../assets/images/svg/icon-feedback.svg


      