//-footer
footer.footer
  .wrapper
    .footer-inner 
      .footer__slogan
        .page-svg
          include ../../assets/images/svg/img-footer.svg
      .footer__row
        .footer__city 
          .page-title-caption-4 Moscow, 2023
        .footer__nav
          nav.nav
            a.page-link(href="javascript:void(0)") 
              .page-title-caption-4 Главная 
            a.page-link(href="javascript:void(0)") 
              .page-title-caption-4 Кейсы 
            a.page-link(href="javascript:void(0)") 
              .page-title-caption-4 Команда 
            a.page-link(href="javascript:void(0)") 
              .page-title-caption-4 Карьера
        .footer__author 
          a.page-link(href="javascript:void(0)")
            .page-title-caption-4 Design – MAX
      .footer__feedback
          a.page-svg(href="/") 
            include ../../assets/images/svg/icon-feedback.svg


      