//-testimonials



mixin slide(props)
    .testimonials-slide.swiper-slide 
        .testimonials-slide__img.testimonials-slide__img_mask
            .testimonials-slide__img-poster
                picture.page-picture
                    img(src=props.imgPoster, alt="" )
            .testimonials-slide__img-video
                video.page-video.page-picture(playsinline muted poster=props.imgPoster ) 
                    source(src="assets/images/png/video-testimonial.mp4" type="video/mp4")
                .testimonials-slide__img-video-btn-play
                    #timer
                    button.page-btn(aria-label="Play" role="button") ►
        .testimonials-slide__name
            h3.page-title.page-title-h3 #{props.title}
            .page-title-caption.page-title-caption-3 #{props.subtitle}
                
mixin slides(array)
    each object in array
        +slide(object)

section.testimonials
    .wrapper
        .testimonials-inner
           
  
            //- img(src="../../assets/images/png/img-testimonial.jpg", alt="")
            .page-title.page-title-h1 Отзывы
            //- slider
            .testimonials-slider
                .swiper.testimonialSwiper
                    .testimonials-slider__toggles
                        .testimonials-slider__btn
                            button.swiper-button-prev.page-btn.testimonials-slider__btn-prev
                        .testimonials-slider__btn#progress-bar
                            .testimonials-slider__btn-progress-bar
                            button.swiper-button-next.page-btn.testimonials-slider__btn-next
                            

                    .testimonials-slider__items.swiper-wrapper
                            +slides([
                                {
                                    title: 'Дима Энтелис',
                                    subtitle: 'CTO Entelis team',
                                    imgPoster: 'assets/images/png/testimonial-2.png',
                                    video: ''
                                },
                                {
                                    title: 'Дима Энтелис',
                                    subtitle: 'CTO Entelis team',
                                    imgPoster: 'assets/images/png/testimonial-1.png',
                                    video: '',
                                    isActive: true
                                },
                                {
                                    title: 'Дима Энтелис',
                                    subtitle: 'CTO Entelis team',
                                    imgPoster: 'assets/images/png/testimonial-3.png',
                                    video: ''
                                },
                            ])
            //- info-block
            .testimonials__steps
                .testimonials__steps-title
                    .page-title.page-title-h1 Cоздаем решения, которые определяют и изменяют мир вокруг нас прямо здесь и сейчаc
                    .testimonials__steps-title_marker-after
                        include ../../assets/images/svg/marker-after.svg
                .testimonials-steps
                    .testimonials-steps__nav
                        .tab-link.page-text.isActive Выстраиваем <br>процесс разработки 
                        .tab-link.page-text Проводим <br>технический аудит
                        .tab-link.page-text Запускаем с нуля, <br>поддерживаем и развиваем
                        .tab-link.page-text Консультируем как лушче <br>запустить продукт, фичу, на каких технологиях

                    .testimonials-steps__contents
                        .testimonials-steps__content.isActive
                            picture.page-picture
                                img(src="assets/images/png/testimonial-steps.png", alt="testimonial-steps")
                        .testimonials-steps__content
                            picture.page-picture
                                img(src="assets/images/png/testimonial-steps.png", alt="testimonial-steps")
                        .testimonials-steps__content
                            picture.page-picture
                                    img(src="assets/images/png/testimonial-steps.png", alt="testimonial-steps")
                        .testimonials-steps__content
                            picture.page-picture
                                    img(src="assets/images/png/testimonial-steps.png", alt="testimonial-steps")
script(src="js/testimonials/testimonials.component.js") 