/*testimonials*/
.testimonials
    padding-top: 96px

    .page-title
        color: $color_white
        &-h3
            +md-block
                font-size: 42px
                line-height: 100%
    .page-title-caption-3
        letter-spacing: -0.05em !important
        padding-top: 10px

    &-inner
        overflow: hidden
        background-color: $color_black
        padding: 84px 40px 48px
        border-radius: 26px
    &-slider
        padding-top: 72px
        .swiper
            position: relative
            left: -32px

        &__toggles
            position: absolute
            top: -21%
            right: -55%
            display: flex

            .swiper-button-prev
                left: -11px

            .swiper-button-next
                right: 0
        &__btn
            width: 64px
            height: 64px
            display: flex
            position: relative
            &-prev
                &::after
                    transform: translate(-50%, -50%) rotate(180deg) !important
            &-progress-bar
                // border: 1px solid $color_orange !important
                position: absolute
                left: -1px
                top: -1px
                width: 66px
                height: 66px
                border-radius: 100%
                background: conic-gradient($color_orange 150.6deg, transparent 0deg)
                transform: rotate(90deg)
            &_playing
                .page-btn
                    border: 1px solid rgba($color_orange, .5) !important

            .page-btn
                display: inline-block
                position: relative

                background: #292930
                border: 1px solid transparent
                width: 64px
                height: 64px
                top: 0
                margin-top: 0
                &[disabled]
                    opacity: 1
                    background: #30303F
                    &::after
                        opacity: 0.35
                &::after
                    display: flex
                    content: ''
                    background: url(../assets/icons/svg/spriteSVG.svg)
                    background-position: 97.47222222222223% 0
                    width: 44px
                    height: 44px
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)

    &-slide
        position: relative
        display: flex
        align-items: center
        flex-direction: column
        z-index: 10
        margin-right: -170px
        margin-left: 170px

        &.swiper-slide-prev,
        &.swiper-slide-next
            position: relative
            z-index: 30
        &.swiper-slide-prev

        &.swiper-slide-next

        &.swiper-slide-active
            right: 0
            z-index: 50

            margin-left: 0

            ~ .testimonials-slide
                // margin-left: -170px
                margin-left: 12px
            .testimonials-slide__name
                display: block
            .testimonials-slide__img-mask
                max-width: 620px
                max-height: 620px
                min-height: 620px
        &__img
            width: 100%
            &-mask
                mask-size: 100%
                max-width: 580px
                max-height: 580px
                width: 100%
                height: 100%
                min-width: 580px
                min-height: 580px
                margin: 0 auto
                overflow: hidden
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.24%, rgba(0, 0, 0, 0.56) 73.1%), url()
                background: #fff
                border-radius: 100%
                // +transitionBase
                &.isActive
                    max-width: 640px
                    max-height: 740px !important

                    -webkit-mask-image: url(../assets/images/svg/testimonial-mask-img.svg)
                    mask-image: url(../assets/images/svg/testimonial-mask-img.svg)
                    mask-repeat: no-repeat
                    mask-position: center

            .page-picture
                justify-content: center
                img

                    width: 100%
                    height: 100%
                    // min-height: 740px
                    object-fit: cover

        &__name
            text-align: center
            position: absolute
            bottom: 40px
            display: none

    &__steps
        padding-top: 12.5%
        &-title
            width: 80%
            position: relative
            &_marker-after
                position: absolute
                display: f
                display: flex
                width: 100%
                height: 100%
                background-repeat: no-repeat
                max-width: 507px
                top: -24%
                right: -27%
                max-height: 305px
        .page-title
            line-height: 105%
    &-steps
        display: flex
        padding-top: 9%
        &__nav
            display: flex
            flex-direction: column
            +size(12)
            +size-md(4.5)
            +shift-md-right(1.5)
            .page-text
                cursor: pointer
                color: $color_white
                opacity: 0.4
                border-bottom: 3px solid rgba($color_white, .2)
                +transitionBase
                padding-bottom: 30px
                margin-bottom: 30px
                &.isActive
                    opacity: 1
                    border-bottom: 3px solid rgba($color_white, 1)
        &__contents
            display: flex
            align-items: center
            justify-content: center
            +size(12)
            +size-md(6)
        &__content
            // visibility: hidden
            display: none
            &.isActive
                display: flex
                // visibility: visible
        