/*testimonials*/
.testimonials
    margin-top: 96px
    background-color: $color_black

    .page-title
        color: $color_white
    &-slide
        display: flex
        align-items: center
        flex-direction: column
        &.swiper-slide-active
            .testimonials-slide__img-mask
                max-width: 640px
        &__img
            width: 100%
            &-mask
                mask-size: 100%
                max-width: 580px
                max-height: 580px
                width: 100%
                height: 100%
                min-width: 580px
                min-height: 580px
                margin: 0 auto
                overflow: hidden
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.24%, rgba(0, 0, 0, 0.56) 73.1%), url()
                background: #fff
                border-radius: 100%
                &.isActive
                    max-width: 640px
                    max-height: 740px

                    -webkit-mask-image: url(../assets/images/svg/testimonial-mask-img.svg)
                    mask-image: url(../assets/images/svg/testimonial-mask-img.svg)
                    mask-repeat: no-repeat
                    mask-position: center

                    
            .page-picture
                justify-content: center
                img

                    width: 100%
                    height: 100%
                    // min-height: 740px
                    object-fit: cover

    &__name
        text-align: center
