//-section-maginary-footer
section.section.section-maginary-footer
  .wrapper
    .section-maginary-footer-profile
      img.section-maginary-footer-profile__img(src="assets/images/png/imgSectionMaginaryFooter.png", alt="imgSectionMaginaryFooter")
      .section-maginary-footer-profile__title Game of the day
      a.section-maginary-footer-profile__link(href) Смотреть на App Store
    
    h1.page__title-h1 Отзывы о Maginary
    .section-maginary-footer-reviews
      //-FIXME
      .section-maginary-footer-review
        img(src="assets/images/png/imgFooterReview.png", alt="")
      .section-maginary-footer-review
        img(src="assets/images/png/imgFooterReview.png", alt="")
      .section-maginary-footer-review
        img(src="assets/images/png/imgFooterReview.png", alt="")
      .section-maginary-footer-review
        img(src="assets/images/png/imgFooterReview.png", alt="")
      .section-maginary-footer-review
        img(src="assets/images/png/imgFooterReview.png", alt="")
      .section-maginary-footer-review
        img(src="assets/images/png/imgFooterReview.png", alt="")



