//-section-partners
section.section-partners
  .wrapper 
    .section-partners-inner
      .page__title-h1 Мы гордимся работой с компаниями, которые лидеры на своих рынках.
      .section-partners__icons
        .section-partners__icon
          img(src=`assets/images/svg/icon-partners-1.svg`, alt="")
        .section-partners__icon
          img(src=`assets/images/svg/icon-partners-2.svg`, alt="")
        .section-partners__icon
          img(src=`assets/images/svg/icon-partners-3.svg`, alt="")
          
        .section-partners__icon
          img(src=`assets/images/svg/icon-partners-4.svg`, alt="")
          
        .section-partners__icon
          img(src=`assets/images/svg/icon-partners-5.svg`, alt="")
          