//-banner
//- https://codepen.io/ghepting/pen/vYLqgr
section.banner
    .wrapper
        .banner-inner
            .banner__slogan
                .page-svg
                    include ../../assets/images/svg/Main-slogan.svg
            .banner__description
                .banner__description-subtitle 
                    .page-title-caption.page-title-caption-1 FrontEnd & Backend
                .banner__description-text 
                    .page-text.page-font_suisse-intl Студия по разработке мобильных приложениях делающая сложный 
