//-banner
//- https://codepen.io/ghepting/pen/vYLqgr
section.banner
    .wrapper
        .banner-inner
            .banner__slogan
                img(src="assets/images/svg/Main-slogan.svg", alt="Main-slogan")
            .banner__description
                .page__subtitle FrontEnd & Backend
                .page__text Студия по разработке мобильных приложениях делающая сложный 
