/*banner*/
.banner
    &__slogan
        display: flex
        justify-content: center
        padding-top: 52px
    &__description
        text-align: center
        &-subtitle
            .page-title-caption-1
                position: relative
                left: -4px
                top: -4px
                font-size: 107.888px
                line-height: 93px
                letter-spacing: -0.085em
                transform: rotate(-4.34deg)
        &-text 
            .page-text 
                font-size: 40px
                line-height: 46px
                width: 60%
                margin: 10px auto
    
