//-banner
//- https://codepen.io/ghepting/pen/vYLqgr
section.banner
    .wrapper
        .banner-inner
            .banner__slogan
                .page-svg
                    include ../../assets/images/svg/Main-slogan.svg
            .banner__description
                .page__subtitle FrontEnd & Backend
                .page__text Студия по разработке мобильных приложениях делающая сложный 
