//-ui
section.ui
    .wrapper
        .ui-inner
            .page-title.page-title-main Типографика
            .ui__spaceing
                .page-font.page-font_caveat Caveat Regular
                .page-font.page-font_suisse-intl Suisse Intl - Regular
                .page-font.page-font_sf-mono SF Mono regular
            .ui__spaceing
                h1.page-title.page-title-h1 Heading 1 / desktop
                h1.page-title.page-title-h1_mobile Heading 1 / mobile
            .ui__spaceing
                h2.page-title.page-title-h2 Heading 2 / desktop
                h2.page-title.page-title-h2_mobile Heading 2 / mobile
            .ui__spaceing
                h3.page-title.page-title-h3 Heading 3 / desktop
                h3.page-title.page-title-h3_mobile Heading 3 / mobile
            .ui__spaceing.ui__spaceing_text
                p.page-text Paragraph / desktop
                p.page-text_mobile  Paragraph / mobile
            .ui__spaceing.ui__spaceing_caption
                .ui__link
                    a.page-link(href="javascript:void(0)") Button text / desktop
                .ui__link
                    a.page-link.page-link_mobile(href="javascript:void(0)") Button text / mobile
            .ui__spaceing
                .page-title-caption.page-title-caption-1 Caption 1
                .page-title-caption.page-title-caption-1_mobile Caption 1 / mobile
            .ui__spaceing
                .page-title-caption.page-title-caption-2 Caption 2
                .page-title-caption.page-title-caption-2_mobile Caption 2 / mobile
            .ui__spaceing
                .page-title-caption.page-title-caption-3 Caption 3
                .page-title-caption.page-title-caption-3_mobile Caption 3 / mobile
            .ui__spaceing
                .page-title-caption.page-title-caption-4 Caption 3
                .page-title-caption.page-title-caption-4_mobile Caption 4 / mobile
            .page-title.page-title-main Цвета
            .ui__spaceing
                .ui__block.page_bg-color_orange
                .ui__block.page_bg-color_white
                .ui__block.page_bg-color_black
                .ui__block.page_bg-color_gray
                .ui__block.page_bg-color_light-gray
            .page-title.page-title-main Система отступов
            .ui__spaceing
                p.page-text.page_mb-120 page_mb-120
                p.page-text.page_mb-64 page_mb-64
                p.page-text.page_mb-42 page_mb-42
                p.page-text.page_mb-32 page_mb-32
                p.page-text.page_mb-16 page_mb-16
                p.page-text.page_mb-12 page_mb-12
                p.page-text.page_mb-4 page_mb-4
            .page-title.page-title_main Кнопки
            .ui__spaceing
                .ui__btns
                    .ui__btn
                        button.page-btn page-btn
                    .ui__btn
                        button.page-btn.page-btn_active page-btn_active